.container{
    min-height: 100vh;
}
header{
    padding: 20px 0;
    height: 100px;
    background-color: rgb(251, 255, 44);
}


.menu{
    &__list{
        padding: 10px 0;
        background-color: rgb(255, 171, 44);
        &-item{
            padding: 10px 20px 10px 0;
        }
    }
}