
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat-palette($mat-indigo);
$web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-theme);

/* You can add global styles to this file, and also import other style files */
@import 'bootstrap'; 

html{
    background-color: rgb(252, 251, 192);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$red-1: #ef5350;
$red-2: #e53935;
$red-3: #f33527;
$red-4: #e11b0c;
$gradient-1: rgba(244, 67, 54, 0.14); 
$gradient-2: rgba(0, 0, 0, 0.12);
$gradient-3: rgba(244, 67, 54, 0.12);

.btn{
    &-new{
        border-radius: 3px;
        cursor: pointer;
        padding: 15px;
        background: linear-gradient(60deg, $red-1, $red-2);
        color: white;
        float: right;
        margin-top: 20px; 

        &:hover{
            box-shadow: 0 14px 26px -12px $gradient-1, 0 4px 23px 0 $gradient-2, 0 8px 10px -5px $gradient-3;
            background-color: $red-3;
            border-color: $red-4;
        }
    }
}

